@import "./../../../../styles/color.scss";
.writer-edit {
  .writer-header {
    .control {
      width: 200px;
      margin-right: 20px;
    }
  }

  div.textarea {
    border: none;
    width: 100%;
    min-height: 600px;
    resize: none;
    line-height: 40px;
    font-size: 14px;
    padding: 10px 0;
    margin-top: 30px;

    &:empty:before {
      content: "写点啥好呢～";
      @extend %fizz-font-thead;
    }
  }
}
