@font-face {
  font-family: "iconfont"; /* project id 1291376 */
  src: url("//at.alicdn.com/t/font_1291376_at6p6wrewsv.eot");
  src: url("//at.alicdn.com/t/font_1291376_at6p6wrewsv.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1291376_at6p6wrewsv.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1291376_at6p6wrewsv.woff") format("woff"),
    url("//at.alicdn.com/t/font_1291376_at6p6wrewsv.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1291376_at6p6wrewsv.svg#iconfont") format("svg");
}
@font-face {
  font-family: "fyber_font";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_2rf1i6hnv9d.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_2rf1i6hnv9d.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_2rf1i6hnv9d.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_2rf1i6hnv9d.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_2rf1i6hnv9d.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_2rf1i6hnv9d.svg#Alibaba-PuHuiTi-Regular")
      format("svg"); /* iOS 4.1- */
}
:global {
  html {
    height: 100%;
    // font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font: 14px "Helvetica Neue,PingFang SC,Microsoft YaHei";
    font-family: "fyber_font";
    color: $text-color;
  }

  img {
    width: 100%;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: $disabled-color;
    user-select: none;
    transition: all 0.2s;
    cursor: pointer;

    &.active {
      color: $thrid-color !important;
    }

    &:hover {
      color: $text-color-secondary;
    }
  }

  input:focus {
    border-color: $primary-color !important;
  }
}

%main-content {
  width: 1100px;
}
