@import "./reset.scss";
@import "./flex.scss";

html {
    height: 100%;
    // font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font: 14px/1.5 "Roboto, Noto, sans-serif";
    color: #212121;
}

// 以下为UI约束

.font14 {
    font-size: 14px;
}
.font12 {
    font-size: 12px;
}
.font16 {
    font-size: 16px;
}
.font20 {
    font-size: 20px;
}
.font34 {
    font-size: 34px;
}

.font-main-color {
    color: #212121;
}
.main-color {
    color: #00897b;
}
.aide-color {
    color: #673ab7;
}
