$primary-color: #08d9d6; // 全局主色
$link-color: #08d9d6; // 链接色
// 副色系
$second-color: #ffde7d;
$thrid-color: #f6416c;
$fourth-color: #f8f3d4;
$heading-color: #101010; // 标题色
$text-color: #212121; // 主文本色
$text-color-secondary: #383838; // 次文本色
$disabled-color: rgb(180, 180, 180); // 失效色
$border-color-base: #e9f2f9; // 边框色
$box-shadow-base: 0 2px 8px rgba(49, 43, 43, 0.15); // 浮层阴影

// font
$font-size-base: 14px; // 主字号
$border-radius-base: 4px; // 组件/浮层圆角

$main-width: 1080px;
