header {
    width: 1100px;
    height: 60px;
    margin: 0 auto;

    h1 {
        font-size: 34px;
        font-family: "futura-pt";
        font-weight: 700;
        transition: color 0.3s;
        cursor: pointer;
    }

    nav {
        a {
            color: inherit;
            font-size: 16px;
            text-decoration: none;
            transition: color 0.3s;
        }
    }

    .search {
        .search-input {
            width: 0;
            transition: width 0.3s;

            &.search-input-active {
                width: 150px;
            }

            &:after {
                border: none;
            }
            &:hover:before {
                border-bottom: 1px solid rgba(0, 0, 0, 0.42);
            }
        }
    }

    .active {
        color: #00897b;
    }
}
