@import "./../../styles/color.scss";

.nav-list {
  width: 100%;
  position: absolute;
  top: 0;
  height: 45px;
  background: #fff;

  li.active {
    @extend %fizz-primary;
  }

  li:hover {
    @extend %fizz-primary;
  }

  &.fixed {
    position: fixed;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  }
}
.virtial-nav-parent {
  position: relative;
}
